/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* general */

:root {
  --gray-050: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-800: #1F2937;
  --sky-200: #BAE6FD;
  --sky-300: #7DD3FC;
  --sky-500: #0EA5E9;
  --gap-100: 0.4rem;
  --gap-150: 0.6rem;
  --gap-200: 0.4rem;
  --gap-250: 1.0rem;
  --gap-300: 1.2rem;
  --gap-400: 1.6rem;
  --gap-500: 2.0rem;
  --shadow-1: 0 0 5px rgba(0,0,0,0.1);
  --shadow-2: 0 0 5px rgba(0,0,0,0.3);
  --transition-fast: all .1s ease-in-out;
  --transition-slow: all .4s ease-in-out;
  --font-stack: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --font-sm: 0.9rem;
  --font-md: 1.1rem;
  --font-lg: 1.3rem;
  font-family: var(--font-stack);
  color: var(--gray-800);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--transition-fast);
}

html, body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button, dialog, form {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-family: var(--font-stack);
}

button:hover {
  cursor: pointer;
}

hr {
  border: none;
  background-color: var(--gray-300);
  height: 1px;
}

li {
  list-style-type: none;
}

svg > path {
  pointer-events: none;
}

textarea {
  resize: none;
}


/* header */

header {
  display: flex;
  justify-content: center;
  padding: var(--gap-400) 0;
}


/* nav */

#main,
#nav ul {
  padding: 0 var(--gap-500);
}

#nav {
  background-color: var(--gray-100);
  box-shadow: var(--shadow-2);
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
  height: 100%;
  width: 100%;
  padding-top: 5.5rem;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .6s ease-in-out;
  z-index: 2;
  overflow-x: hidden;
}

#nav.hidden {
  width: 0;
}

#nav ul {
  display: flex;
  flex-direction: column;
}

#nav li {
  font-size: var(--font-md);
  padding: var(--gap-100);
}

#nav li {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: var(--gap-150);
}

#nav li.project-nav {
  font-weight: 300;
}

#nav li > svg:first-child {
  height: 1.5rem;
  width: 1.5rem;
}

.folder-nav li > p {
  flex: 1;
}

.nav-arrow {
  background-color: transparent;
  border-radius: 100px;
  font-size: 2.5rem;
  font-weight: 400;
  opacity: 1;
  position: absolute;
  transition: var(--transition-slow);
  display: grid;
  place-content: center;
}

.nav-arrow > svg {
  fill: var(--gray-500);
  height: 2.3rem;
}

header > .nav-arrow {
  top: 1.7rem;
  left: var(--gap-400);
}

nav > .nav-arrow {
  top: 1.7rem;
  right: var(--gap-400);
  opacity: 0;
}

header > .nav-arrow.rotated {
  opacity: 0;
}

nav > .nav-arrow.rotated {
  transform: rotate(180deg);
  opacity: 1;
}


/* main */

.task-main {
  padding: var(--gap-100);
  font-size: var(--font-md);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: var(--gap-150);
}

.task-main label {
  flex: 1;
}

.task-main svg,
.folder-nav svg {
  height: 1.25rem;
}

.completed {
  color: var(--gray-300);
}

.add-item {
  background-color: var(--sky-500);
  border-radius: 100px;
  box-shadow: var(--shadow-2);
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  bottom: var(--gap-500);
  right: var(--gap-500);
  transition: var(--transition-slow);
  z-index: 1;
}

.add-item.rotated {
  transform: rotate(45deg);
}

#modal-menu {
  border: 1px solid var(--gray-300);
  border-radius: 12px;
  box-shadow: var(--shadow-2);
  height: 157px;
  position: fixed;
  bottom: 6.8rem;
  right: var(--gap-500);
  overflow: hidden;
  transform-origin: bottom;
  transition: var(--transition-slow);
  z-index: 1;
}

#modal-menu.hidden {
  /* transform: scaleY(0); */
  border: 0px solid transparent;
  height: 0;
  pointer-events: none;
}

#modal-menu > p {
  margin: var(--gap-250);
}

#modal-menu > p:hover {
  cursor: pointer;
}


/* modal */

#modal-backdrop {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
  transition: var(--transition-slow);
}

#modal-backdrop.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  background-color: white;
  border-radius: 12px;
  box-shadow: var(--shadow-2);
  padding: var(--gap-400);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0 0;
  overflow: hidden;
  width: min(80%, 500px);
  pointer-events: auto;
  transition: var(--transition-slow);
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
}

.modal-form.hidden {
  pointer-events: none;
  transform: scale(0) translate(-50%, -50%);
}

.modal-form > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-100);
}

.modal-form label,
.priority > div:first-child {
  font-size: var(--font-sm);
}

.modal-form .priority {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.priority > div:first-child {
  grid-column: 1 / -1;
}

.priority label {
  background-color: white;
  border: 2px solid var(--gray-500);
  border-radius: 6px;
  display: inline-block;
  padding: var(--gap-200);
  text-align: center;
  width: 100%;
}

.priority input[type="radio"] {
  appearance: none;
  display: none;
  position: absolute;
  width: 100%;
}

.priority input[type="radio"]:checked + label {
  color: white;
}

.low + label {
  border-color: green;
  color: green;
}

.medium + label {
  border-color: orange;
  color: orange;
}

.high + label {
  border-color: red;
  color: red;
}

.low:checked + label,
.low + label:hover {
  background-color: green;
  color: white;
}

.medium:checked + label,
.medium + label:hover {
  background-color: orange;
  color: white;
}

.high:checked + label,
.high + label:hover {
  background-color: red;
  color: white;
}

.edit-submit,
.submit {
  border-radius: 12px;
  padding: var(--gap-300);
}

.cancel {
  background-color: white;
  border-radius: 46px;
  font-size: var(--font-lg);
  height: 1.95rem;
  width: 1.95rem;
  right: 0;
  top: 0;
  position: absolute;
  transition: var(--transition-fast);
  vertical-align: middle;
}