/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* general */

:root {
  --gray-050: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --sky-200: #BAE6FD;
  --sky-300: #7DD3FC;
  --sky-500: #0EA5E9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --green: #16a34a;
  --yellow: #eab308;
  --red: #ef4444;
  --gap-100: 0.4rem;
  --gap-150: 0.6rem;
  --gap-200: 0.4rem;
  --gap-250: 1.0rem;
  --gap-300: 1.2rem;
  --gap-400: 1.6rem;
  --gap-500: 2.0rem;
  --shadow-1: 0 0 5px rgba(0,0,0,0.1);
  --shadow-2: 0 0 5px rgba(0,0,0,0.2);
  --shadow-3: 0 0 5px rgba(0,0,0,0.3);
  --shadow-5: 0 0 7px rgba(0,0,0,0.5);
  --transition-fast: all .1s ease-in-out;
  --transition-slow: all .4s ease-in-out;
  --font-stack: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --font-sm: 0.9rem;
  --font-md: 1.1rem;
  --font-lg: 1.3rem;
  font-family: var(--font-stack);
  color: var(--gray-700);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--transition-fast);
}

html, body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button, dialog, form, textarea,
input, select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  color: var(--gray-700);
  font-family: var(--font-stack);
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

hr {
  border: none;
  background-color: var(--gray-300);
  height: 1px;
}

li {
  list-style-type: none;
}

svg {
  fill: var(--gray-700);
}

svg > path {
  pointer-events: none;
}

textarea {
  resize: none;
}


/* header */

header {
  display: flex;
  justify-content: center;
  padding: var(--gap-400) 0;
}


/* nav */

#main,
#nav ul {
  padding: 0 var(--gap-500);
}

#nav {
  background-color: var(--gray-100);
  box-shadow: var(--shadow-3);
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
  height: 100%;
  width: 100%;
  padding-top: 5.55rem;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .6s ease-in-out;
  z-index: 2;
  overflow-x: hidden;
}

#nav.hidden {
  width: 0;
}

#nav ul {
  display: flex;
  flex-direction: column;
}

#nav li,
#main li {
  border-radius: 6px;
  font-size: var(--font-md);
  padding: var(--gap-100);
  display: flex;
  align-items: center;
  gap: var(--gap-150);
}

#nav li {
  font-weight: 500;
}

#nav li.project-nav {
  font-weight: 300;
}

#nav li:hover,
#main li:hover {
  background-color: var(--gray-200);
}

#nav li:hover {
  cursor: pointer;
  filter: brightness(95%);
}

#nav li > svg:first-child {
  height: 1.5rem;
  width: 1.5rem;
}

.folder-nav li > p {
  flex: 1;
}

.folder-nav svg[data-for]:hover,
.task-main > svg:hover {
  cursor: pointer;
  fill: var(--sky-600);
}

.nav-arrow {
  background-color: transparent;
  border-radius: 100px;
  font-size: 2.5rem;
  font-weight: 400;
  opacity: 1;
  position: absolute;
  transition: var(--transition-slow);
  display: grid;
  place-content: center;
}

.nav-arrow:hover {
  background-color: var(--gray-200);
}

#nav .nav-arrow:hover {
  filter: brightness(95%);
}

.nav-arrow > svg {
  fill: var(--gray-600);
  height: 2.3rem;
  position: relative;
  left: -1px;
}

#nav .nav-arrow > svg {
  right: -1px;
}

header > .nav-arrow {
  top: 1.7rem;
  left: 1.7rem;
}

nav > .nav-arrow {
  top: 1.7rem;
  right: 1.7rem;
  opacity: 0;
}

header > .nav-arrow.rotated {
  opacity: 0;
}

nav > .nav-arrow.rotated {
  transform: rotate(180deg);
  opacity: 1;
}


/* main */

#main li {
  font-weight: 400;
  padding: 0.4rem;
}

.task-main input[type="checkbox"]:hover,
.task-main label:hover {
  cursor: pointer;
}

.task-main input[type="checkbox"] {
  background-color: white;
  border: 2px solid var(--gray-300);
  border-radius: 6px;
  height: 1.15rem;
  width: 1.15rem;
  display: grid;
  place-content: center;
}

.task-main input[type="checkbox"]:checked {
  background-color: var(--sky-500);
  border: 2px solid var(--sky-500);
}

.task-main input[type="checkbox"]::before {
  border-radius: 4.5px;
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  transform: scale(0);
  transition: var(--transition-fast);
  box-shadow: inset 1em 1em white;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.task-main input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.task-main label {
  flex: 1;
}

.task-main .date {
  background-color: var(--gray-100);
  border-radius: 6px;
  color: var(--gray-500);
  font-size: var(--font-sm);
  padding: var(--gap-100);
}

.task-main:hover .date {
  background-color: var(--gray-300);
  border-radius: 6px;
  color: var(--gray-500);
  font-size: var(--font-sm);
  padding: var(--gap-100);
}

.task-main svg,
.folder-nav svg {
  height: 1.25rem;
}

.task-main svg.priority1 {
  fill: var(--green);
}

.task-main svg.priority2 {
  fill: var(--yellow);
}

.task-main svg.priority3 {
  fill: var(--red);
}

.task-main svg[class]:hover {
  cursor: default;
}

.task-main.completed > * {
  filter: opacity(50%);
}

.add-item {
  background-color: var(--sky-500);
  border-radius: 100px;
  box-shadow: var(--shadow-3);
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  bottom: var(--gap-500);
  right: var(--gap-500);
  transition: var(--transition-slow);
  z-index: 1;
}

.add-item:hover {
  box-shadow: var(--shadow-5);
  filter: brightness(90%);
}

.add-item.rotated {
  transform: rotate(45deg);
}

#modal-menu {
  border: 1px solid var(--gray-300);
  border-radius: 12px;
  box-shadow: var(--shadow-1);
  height: 157px;
  position: fixed;
  bottom: 6.8rem;
  right: var(--gap-500);
  overflow: hidden;
  transform-origin: bottom;
  transition: var(--transition-slow);
  z-index: 1;
}

#modal-menu:hover {
  box-shadow: var(--shadow-2);
}

#modal-menu.hidden {
  border: 0px solid transparent;
  height: 0;
  pointer-events: none;
}

#modal-menu > p {
  font-size: var(--font-md);
  padding: var(--gap-250);
}

#modal-menu > p:hover {
  background-color: var(--gray-100);
}

#modal-menu > p:hover {
  cursor: pointer;
}


/* modal */

#modal-backdrop {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
  transition: var(--transition-slow);
}

#modal-backdrop.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  background-color: white;
  border-radius: 12px;
  box-shadow: var(--shadow-3);
  padding: var(--gap-400);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0 0;
  overflow: hidden;
  width: min(80%, 500px);
  pointer-events: auto;
  transition: var(--transition-slow);
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
}

.modal-form.hidden {
  pointer-events: none;
  transform: scale(0) translate(-50%, -50%);
}

.modal-form > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-100);
}

.modal-form label,
.priority > div:first-child {
  font-size: var(--font-sm);
}

.modal-form input,
.modal-form textarea,
.modal-form select {
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  font-family: var(--font-stack);
  font-size: var(--font-md);
  padding: var(--gap-200);
  transition: var(--transition-fast);
}

.modal-form textarea {
  height: 4.75rem;
}

.modal-form input:hover,
.modal-form textarea:hover,
.modal-form select:hover {
  box-shadow: var(--shadow-2);
}

.modal-form input[type="date"]:hover,
.modal-form select:hover {
  cursor: pointer;
}

.modal-form select {
  background: no-repeat right/1.75rem url(./chevron-down.svg) var(--gray-100);
}

.modal-form .priority {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.priority > div:first-child {
  grid-column: 1 / -1;
}

.priority label {
  background-color: white;
  border: 2px solid var(--gray-500);
  border-radius: 6px;
  display: inline-block;
  padding: var(--gap-200);
  text-align: center;
  width: 100%;
}

.priority input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
  position: absolute;
  width: 100%;
}

.priority input[type="radio"] + label:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: var(--shadow-2);
  cursor: pointer;
}

.priority input[type="radio"]:checked + label {
  color: white;
}

.low + label {
  border-color: var(--green);
  color: var(--green);
}

.medium + label {
  border-color: var(--yellow);
  color: var(--yellow);
}

.high + label {
  border-color: var(--red);
  color: var(--red);
}

.low:checked + label,
.low + label:hover {
  background-color: var(--green);
  color: white;
}

.medium:checked + label,
.medium + label:hover {
  background-color: var(--yellow);
  color: white;
}

.high:checked + label,
.high + label:hover {
  background-color: var(--red);
  color: white;
}

.edit-submit,
.submit {
  background-color: var(--gray-200);
  border: 1px solid var(--gray-300);
  border-radius: 12px;
  font-size: var(--font-md);
  padding: var(--gap-300);
}

.edit-submit:hover,
.submit:hover {
  border: 1px solid var(--gray-300);
  box-shadow: var(--shadow-2);
  filter: brightness(96%);
}

.cancel {
  background-color: white;
  /* border: 1px solid transparent; */
  border-radius: 46px;
  font-size: var(--font-lg);
  height: 1.95rem;
  width: 1.95rem;
  right: var(--gap-100);
  top: var(--gap-100);
  position: absolute;
  transition: var(--transition-fast);
  vertical-align: middle;
}

.cancel:hover {
  background-color: var(--gray-200);
}