/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* general */

:root {
  --gray-050: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #E5E7EB;
  --gray-500: #6B7280;
  --gray-800: #1F2937;
  --gap-100: 0.4rem;
  --gap-150: 0.6rem;
  --gap-200: 0.4rem;
  --gap-250: 1.0rem;
  --gap-300: 1.2rem;
  --gap-400: 1.6rem;
  --gap-500: 2.0rem;
  --font-stack: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-family: var(--font-stack);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .1s ease-in-out;
}

html, body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


/* header */

header {
  display: flex;
  justify-content: center;
  padding: var(--gap-400) 0;
}


/* nav */

#content,
#nav ul {
  padding: 0 var(--gap-500);
}

#nav {
  background-color: var(--gray-100);
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
  height: 100%;
  width: 0;
  padding-top: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 1;
  overflow-x: hidden;
}

#nav ul {
  display: flex;
  flex-direction: column;
  /* gap: var(--gap-100); */
}

#nav li {
  font-size: 1.1rem;
  padding: var(--gap-100);
}

.time > li,
li.folder-nav,
li.project-nav {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: var(--gap-150);
}

.time > li::before,
li.folder-nav::before,
li.project-nav::before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url('folder-outline.svg');
}

li.project-nav {
  font-weight: 300;
}